<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Journal Entry</title>
</head>
<body>
    <%- include ('../partials/header') %>
    <h4>Edit Entry for <%= entry.title %></h4>
    <form action="/users/<%= entry.user._id %>/entries/<%= entry._id %>?_method=PUT" method="post">
        <textarea name="body"><%= entry.body %></textarea>
        <br />
        <input type="submit" value="Update Entry">
    </form>
    <a href="/users/<%= entry.user._id %>"><button>Cancel</button></a>
</body>
</html>