<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
</head>
<body>
    <%- include ('../partials/header') %>

    <h1>Welcome back, <%= user.username %></h1>
    <h2>Entries</h2>
    <ul>
            <% user.entries.forEach((entry)=>{ %>
                <li>
                    <a href="/users/<%= user._id %>/entries/<%= entry._id %>"><%= entry.title %></a>
                </li>
            <% }) %>
    </ul>
    <a href="/users/<%= user._id %>/entries/new">Add a New Entry</a>
    <br />
    <a href="/users/<%= user._id %>/logout">Log Out</a>
</body>
</html>